* {	
	text-align: center;
	font-family: "courier new";


}

body {
	background-image: url("../images/barfront.jpg");
	background-size: 100% 100%;
	background-repeat: no-repeat;
	min-height: 1000px;
}

h1{
	font-family: text;
}

.title {
	max-height: 300px;
	max-width: 700px;
}


#timer {
	color: white;
}

.col-md-10 {
	text-align: center;
}

.page-header {
	background-color: black;
	margin-top: 0;
	border: none;
}

.hidden {
	display: none;
}

